* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* cursor: none; */
}
body {
  background-color: #1a1a1a;
  color: #fff;
  width: 100vw;
}

@font-face {
  font-family: "gallientregular";
  src: url("/Fonts/gallient/gallientregular-ezomp-webfont.woff2")
      format("woff2"),
    url("../public/fonts/gallient/gallientregular-ezomp-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fondomento Italic";
  font-style: normal;
  font-weight: normal;
  src: local("Fondomento-Italic"),
    url("/fonts/Fondamento-Italic.ttf") format("woff");
}

@font-face {
  font-family: "Kayak Sans Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Kayak Sans Bold"),
    url("/fonts/kayak/Kayak_Sans_Bold.otf") format("woff");
}

@font-face {
  font-family: "Kayak Sans Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Kayak Sans Regular"),
    url("/fonts/kayak/Kayak_Sans_Regular.otf") format("woff");
}

@font-face {
  font-family: "Kayak Sans Light";
  font-style: normal;
  font-weight: normal;
  src: local("Kayak Sans Light"),
    url("/fonts/kayak/Kayak_Sans_Light.otf") format("woff");
}

@font-face {
  font-family: "Snickles";
  font-style: normal;
  font-weight: normal;
  src: local("Snickles"),
    url("/fonts/snickles/Snickles.ttf") format("woff");
}

@font-face {
  font-family: "Stanley";
  font-style: normal;
  font-weight: normal;
  src: local("Stanley"),
    url("/fonts/stanley/Stanley.otf") format("woff");
}

@font-face {
  font-family: "Newake";
  font-style: normal;
  font-weight: normal;
  src: local("Newake"),
    url("/fonts/newake/newake-demo-400.otf") format("woff");
}

@font-face {
  font-family: "Thunder Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Thunder Medium"),
    url("/fonts/thunder/Thunder-MediumLC.woff2") format("woff");
}


@font-face {
  font-family: "Sk Modernist Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Sk Modernist Regular"),
    url("/fonts/sk_modernist/Sk-Modernist-Regular.otf") format("woff");
}

@font-face {
  font-family: "Times";
  font-style: normal;
  font-weight: normal;
  src: local("Times Sans Serif"),
    url("/fonts/times/Times-Sans-Serif.ttf") format("woff");
}

@font-face {
  font-family: "Gilroy Ultra Light";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-UltraLight"),
    url("/fonts/Gilroy-UltraLight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy Thin";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Thin"), url("/fonts/Gilroy-Thin.woff") format("woff");
}
@font-face {
  font-family: "Gilroy SemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-SemiBold"),
    url("/fonts/Gilroy-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Gilroy Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Regular"), url("/fonts/Gilroy-Regular.woff") format("woff");
}
@font-face {
  font-family: "Gilroy Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Medium"), url("/fonts/Gilroy-Medium.woff") format("woff");
}
@font-face {
  font-family: "Gilroy Light";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Light"), url("/fonts/Gilroy-Light.woff") format("woff");
}
@font-face {
  font-family: "Gilroy Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Heavy"), url("/fonts/Gilroy-Heavy.woff") format("woff");
}
@font-face {
  font-family: "Gilroy ExtraBold";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-ExtraBold"),
    url("/fonts/Gilroy-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Gilroy Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Bold"), url("/fonts/Gilroy-Bold.woff") format("woff");
}
@font-face {
  font-family: "Gilroy Black";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Black"), url("/fonts/Gilroy-Black.woff") format("woff");
}
