@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Amita&family=Fondamento&family=Kalam&family=Lobster&family=Oleo+Script&family=Sriracha&family=Tillana:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* cursor: none; */
}

body {
  background-color: #131313;
  color: #fff;
  width: 100vw;
}

@font-face {
  font-family: "Made Bon Voyage Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Sacred Valley"),
    url("/fonts/sacred-valley/sacred-valley-400.ttf") format("woff");
}

@font-face {
  font-family: "Gilroy Ultra Light";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-UltraLight"),
    url("/fonts/Gilroy-UltraLight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy Thin";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Thin"), url("/fonts/Gilroy-Thin.woff") format("woff");
}

@font-face {
  font-family: "Gilroy SemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-SemiBold"),
    url("/fonts/Gilroy-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Regular"), url("/fonts/Gilroy-Regular.woff") format("woff");
}

@font-face {
  font-family: "Gilroy Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Medium"), url("/fonts/Gilroy-Medium.woff") format("woff");
}

@font-face {
  font-family: "Gilroy Light";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Light"), url("/fonts/Gilroy-Light.woff") format("woff");
}

@font-face {
  font-family: "Gilroy Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Heavy"), url("/fonts/Gilroy-Heavy.woff") format("woff");
}

@font-face {
  font-family: "Gilroy ExtraBold";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-ExtraBold"),
    url("/fonts/Gilroy-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Bold"), url("/fonts/Gilroy-Bold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy Black";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Black"), url("/fonts/Gilroy-Black.woff") format("woff");
}