* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* cursor: none; */
}
body {
  background-color: #131313;
  color: #fff;
  width: 100vw;
}

@font-face {
  font-family: "LifeT Italic";
  font-style: normal;
  font-weight: normal;
  src: local("LifeT_Italic"),
    url("/fonts/life-t/LifeT_Italic.ttf") format("woff");
}

@font-face {
  font-family: "HelmetNeue Regular";
  font-style: normal;
  font-weight: normal;
  src: local("HelmetNeue-Regular"),
    url("/fonts/helmet/HelmetNeue-Regular.otf") format("woff");
}

@font-face {
  font-family: "Sacred Valley";
  font-style: normal;
  font-weight: normal;
  src: local("Sacred Valley"),
    url("/fonts/sacred-valley/sacred-valley-400.ttf") format("woff");
}

@font-face {
  font-family: "Made Bon Voyage Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Sacred Valley"),
    url("/fonts/sacred-valley/sacred-valley-400.ttf") format("woff");
}

@font-face {
  font-family: "Times";
  font-style: normal;
  font-weight: normal;
  src: local("Times Sans Serif"),
    url("/fonts/times/Times-Sans-Serif.ttf") format("woff");
}

@font-face {
  font-family: "Times Now Semi Italic";
  font-style: normal;
  font-weight: normal;
  src: local("TimesNow-SemiLightItalic"),
    url("/fonts/timesNow/TimesNow-SemiLightItalic.woff") format("woff");
}

@font-face {
  font-family: "Gilroy Ultra Light";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-UltraLight"),
    url("/fonts/Gilroy-UltraLight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy Thin";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Thin"), url("/fonts/Gilroy-Thin.woff") format("woff");
}
@font-face {
  font-family: "Gilroy SemiBold";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-SemiBold"),
    url("/fonts/Gilroy-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Gilroy Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Regular"), url("/fonts/Gilroy-Regular.woff") format("woff");
}
@font-face {
  font-family: "Gilroy Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Medium"), url("/fonts/Gilroy-Medium.woff") format("woff");
}
@font-face {
  font-family: "Gilroy Light";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Light"), url("/fonts/Gilroy-Light.woff") format("woff");
}
@font-face {
  font-family: "Gilroy Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Heavy"), url("/fonts/Gilroy-Heavy.woff") format("woff");
}
@font-face {
  font-family: "Gilroy ExtraBold";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-ExtraBold"),
    url("/fonts/Gilroy-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: "Gilroy Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Bold"), url("/fonts/Gilroy-Bold.woff") format("woff");
}
@font-face {
  font-family: "Gilroy Black";
  font-style: normal;
  font-weight: normal;
  src: local("Gilroy-Black"), url("/fonts/Gilroy-Black.woff") format("woff");
}
